<h1>My Account</h1>
<p>Welcome to My Account!</p>
<div><a href='#' onclick="navigate('settings');">View settings</a></div>
<div><a href="#" onclick="navigate('dashboard');">Dashboard</a></div>
<div><a href='#' onclick="logout()">Log out</a></div>