<title>Sign up</title>

<script>

	document.getElementById('formSignIn').addEventListener('submit', Send);

	$(document).ready(function () {
		var storedCookie = getCookie('userdetails');
		if (storedCookie != undefined && storedCookie != null && storedCookie != '') {
			var storedCookieJson = JSON.parse(storedCookie);
			document.querySelector('#inputEmail').value = storedCookieJson.emailID;
			document.querySelector('#inputPassword').value = storedCookieJson.password;
			document.querySelector('#remember-me').checked = true;
		}
	});

	function Send(e) {
		e.preventDefault();
		var email = document.querySelector('#inputEmail').value;
		var pass = document.querySelector('#inputPassword').value;
		var rememberMe = document.querySelector('#remember-me').checked;


		if (email.length > 1 && pass.length > 1) {
			fetch('/login', {
				method: 'post',
				headers: {
					'Accept': 'application/json, text/plain, */*',
					'Content-type': 'application/json'
				},
				body: JSON.stringify({ Email: email, Password: pass })
			})
				.then((res) => res.json())
				.then(data => {
					console.log(data);

					if (data.verify == 'true') {
						if (rememberMe) {
							let userdata = {
								emailID: email,
								password: pass
							}
							setCookie("userdetails", JSON.stringify(userdata), 60);
						}
						else{
							setCookie("userdetails", "", -1)
						}
						
						localStorage.setItem('userinfo', data.userinfo);
						window.open('/dashboard', '_self');
					} else if (data.msg1 == 'ERROR1') {
						alert("Invalid Email");
					} else {
						alert("Invalid Password");
					}
				})

		}
	}
</script>


<h1 id="msg"></h1>


<form class="form-signin" id="formSignIn">
	<img class="mb-4" src="image/logo1.png" alt="logo">
	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	<label for="inputEmail" class="sr-only">Email address</label>
	<input type="email" id="inputEmail" class="form-control" placeholder="Email address" autocomplete="email" required
		autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="password"
		required>
	<div class="checkbox mb-3">
		<label>
			<input type="checkbox" value="remember-me" id="remember-me"> Remember me
		</label> &nbsp; &nbsp;
		<a href="/forgot" class="btn1"><label> Forgot Password ?</label></a>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	<div class="registerSection">
		<p class="mt-5 mb-3">Don't have an account?</p>
		<a href="#formSignUp" class="btn btn-lg btn-primary btn-block btnToggleForm">Register now</a>
	</div>
	<p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
</form>

<form class="form-signup" id="formSignUp" >
	<img class="mb-4" src="image/logo1.png" alt="Logo">
	<h1 class="h3 mb-3 font-weight-normal">Please register below</h1>
	<label for="inputFullName" class="sr-only">Full Name</label>
	<input type="text" id="inputUsername" class="form-control" placeholder="Full name" required autofocus>
	<label for="inputEmailSignUp" class="sr-only">Email address</label>
	<input type="email" id="inputEmailSignUp" class="form-control" placeholder="Email address" autocomplete="email"
		required autofocus>
	<label for="inputPasswordSignUp" class="sr-only">Password</label>
	<div id="pwdContainer">
		<div id="passwordInfo">
			The password requires numbers, upper and lower case letters as well as a minimum length of 8 characters.
			<meter id="pwdStrengthMeter" max="4" min="0" low="1" high="2" optimum="4"></meter>
			<p id="pwdStrengthText"></p>
			<p id="pwdStrengthTextHelper"></p>
		</div>
		<input type="password" id="inputPasswordSignUp" class="form-control" placeholder="Password"
			pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
		<label for="inputPasswordSignUpRepeat" class="sr-only">Password again</label>
		<input type="password" id="inputPasswordSignUpRepeat" class="form-control" placeholder="Confirm password"
			required>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
	<label>
		<p class="mt-5 mb-3">Already have an account?</p>
		<a href="#formSignIn" class="btn btn-lg btn-primary btn-block btnToggleForm">Sign in</a>
	</label>
	<p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
</form>

<!-- <form class="form-forgot-password" id="formforgotpwd">
	<img class="mb-4" src="logo.png" alt="Logo">
	
	<label for="inputEmailSignUp" class="sr-only">Email address</label>
	<input type="email" id="inputEmailSignUp" class="form-control" placeholder="Email address" autocomplete="email"
		required autofocus><br>
	
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
	
	<p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
</form> -->


<!-- <script>
	document.getElementById('formSignUp').addEventListener('submit', Send);
	function Send(e) {
		e.preventDefault();
		var email = document.querySelector('#email').value;
		var pass = document.querySelector('#password').value;
		if (email.length > 1 && pass.length > 1) {
			fetch('/login', {
				method: 'post',
				headers: {
					'Accept': 'application/json, text/plain, */*',
					'Content-type': 'application/json'
				},
				body: JSON.stringify({ Email: email, Password: pass })
			})
				.then((res) => res.json())
				.then(data => {
					if (data.verify === "true") {
						window.open('/dashboard', '_self');
					} else {
						document.getElementById('msg').innerHTML = "Unsuccessful";
					}
				})

		} else {
			document.getElementById('msg').innerHTML = "ERROR PASSWORD and EMAIL";
		}
	}
</script> -->